.places {
<<<<<<< HEAD
    width: 100%;
    border: 0;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: row;
  }
  
  .places h1 {
    font-size: 30px;
    padding-left: 20px;
    padding-top: 20px;
    margin-bottom: 0px;
    flex: 0 1 100%;
  }
  
  article {
    border: 1px solid #ff5a5f;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    justify-content: flex-start;
    position: relative;
    width: 390px;
    margin: 20px;
    padding: 20px;
  }
  
  article > h2 {
    font-size: 30px;
    align-self: center;
    margin: 0 0 0 0;
  }
  
  .price_by_night {
    color: #ff5a5f;
    border: 4px solid #ff5a5f;
    min-width: 60px;
    height: 60px;
    font-size: 30px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    position: absolute;
    top: 10px;
    right: 20px;
  }
  .price_by_night > p {
    margin: 0 0 0 0;
  }
  
  .information {
    height: 80px;
    width: 100%;
    border-top: 1px solid #dddddd;
    border-bottom: 1px solid #dddddd;
    margin-top: 30px;
    padding-top: 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  
  .max_guest,
  .number_rooms,
  .number_bathrooms {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* width: 100px; */
  }
  
  .information [class^='icon'] {
    height: 50px;
    width: 50px;
    background-repeat: no-repeat;
  }
  
  /* .max_guest > p,
  .number_rooms > p,
  .number_bathrooms > p {
    margin-top: auto;
    margin-bottom: auto;
  } */
  
  .guest_icon {
    margin-left: auto;
    margin-right: auto;
    height: 50px;
    width: 50px;
    background: url('../images/icon_group.png') no-repeat center;
    background-position: center;
  }
  
  .bed_image {
    margin-left: auto;
    margin-right: auto;
    height: 50px;
    width: 50px;
    background: url('../images/icon_bed.png') no-repeat center;
  }
  
  .bath_image {
    margin-left: auto;
    margin-right: auto;
    height: 50px;
    width: 50px;
    background: url('../images/icon_bath.png') no-repeat center;
  }
  
  article .amenities,
  article .reviews {
    margin-top: 40px;
    width: 100%;
  }
  
  article .amenities h2 {
    font-size: 16px;
    padding-bottom: 10px;
    border-bottom: 1px solid #dddddd;
    position: relative;
    left: -30px;
  }
  
  article .reviews h2 {
    font-size: 16px;
    padding-bottom: 10px;
    border-bottom: 1px solid #dddddd;
  }
  
  article .amenities ul {
    padding-left: 0;
    position: relative;
    left: -40px;
  }
  article .reviews ul {
    padding-left: 0;
  }
  
  article .amenities li {
    list-style-type: none;
    margin: 10px;
    display: flex;
    align-items: center;
    justify-content: start;
  }
  
  article .reviews li {
    list-style-type: none;
  }
  article .reviews h3 {
    font-size: 14px;
    margin: 5px auto;
  }
  article .reviews p {
    font-size: 12px;
    margin: 5px auto 20px auto;
  }
  
  .icon-tv,
  .icon-wifi,
  .icon-pets {
    background-image: url(../images/icon_tv.png);
    background-size: cover;
    background-repeat: no-repeat;
    margin-right: 10px;
    height: 20px;
    width: 20px;
  }
  
  .icon-tv {
    background-image: url(../images/icon_tv.png);
  }
  .icon-wifi {
    background-image: url(../images/icon_wifi.png);
  }
  .icon-pets {
    background-image: url(../images/icon_pets.png);
  }
=======
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 50px;
}

.places h1 {
    font-size: 30px;
    width: 100%;
    margin-left: 20px;
}

.places article {
    width: 390px;
    padding: 20px;
    margin: 20px;
    border: 1px solid #FF5A5F;
    border-radius: 4px;
    display: inline-block;
    text-align: center;
    position: relative;
}

.places article h2 {
    font-size: 30px;
}

.price_by_night {
    color: #FF5A5F;
    border: 4px solid #FF5A5F;
    border-radius: 50%;
    height: 60px;
    font-size: 30px;
    min-width: 60px;
    position: absolute;
    top: 20px;
    right: 20px;
    text-align: center;
    line-height: 60px;
}

.information {
    height: 80px;
    border-top: 1px solid #DDDDDD;
    border-bottom: 1px solid #DDDDDD;
    display: flex;
    justify-content: center;
}

.max_guest, .number_rooms, .number_bathrooms {
    width: 100px;
    background-repeat: no-repeat;
    background-position: top center;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.max_guest {
    background-image: url('../images/icon_group.png');
}

.number_rooms {
    background-image: url('../images/icon_bed.png');
}

.number_bathrooms {
    background-image: url('../images/icon_bath.png');
}

.max_guest h4, .number_rooms h4, .number_bathrooms h4 {
    margin: 5px;
}

.user {
    display: flex;
    padding-top: 20px;
}

.user h4 {
    margin-left: 5px;
}

.user h3, .user h4 {
    margin-bottom: 0;
}

.description {
    text-align: left;
}

section.places .amenities, section.places .reviews {
    margin-top: 40px;
    display: block;
    text-align: left;
}

section.places .amenities h2, section.places .reviews h2 {
    font-size: 16px;
    padding-bottom: 10px;
    border-bottom: 1px solid #DDDDDD;
    margin-bottom: 0;
}

section.places .amenities ul {
    margin-top: 0;
}

section.places .amenities ul li {
    background-repeat: no-repeat;
    height: 20px;
    background-size: contain;
    padding-left: 25px;
    line-height: 25px;
}

section.places .amenities ul li.liTV {
    background-image: url('../images/icon_tv.png');
}

section.places .amenities ul li.liWifi {
    background-image: url('../images/icon_wifi.png');
}

section.places .amenities ul li.liPets {
    background-image: url('../images/icon_pets.png');
}

section.places .reviews ul {
    margin: 0;
    padding: 0;
}

section.places .reviews ul li h3 {
    font-size: 14px;
    margin-bottom: 5px;
}

section.places .reviews ul li p {
    margin-top: 5px;
    font-size: 12px;
}
>>>>>>> 5642938af435eb66bb6213d4d60ac54de9f683f5
